<title>Vrast Code | Admin Login</title>
<main>
  <div class="container">
    <div class="alert alert-danger mt-3">
      <p class="h3">Bu Sayfayı Görüntülemek İçin Yeterli Yetkiniz Bulunmamaktadır!</p>
      <p class="h3"></p>
      <p class="h3">Bu Sayfayı Görüntülemek İçin Admin Rolünüz Olmalıdır.</p>
      <p class="h3"></p>
      <p class="h3">Hata olduğunu düşünüyorsan destek sistemimizden bize ilet! en kısa zamanda geri dönüş alacaksın..</p>
      <p class="h3"></p>
      <p class="h3">www.vrast.tk</p>
      <li> Discord Adresim : ɱႦ Kağan Creative#6090</li>
      <p>{{message}}</p>
    </div>
  <button class="btn btn-outline-warning nav-link text-uppercase" onclick="goBack()">Geri Dön</button> 
  </div>
  
    <title>Background-</title>
	<style>
		body {
			background: url(https://laravel.spruko.com/volgh/leftmenu_icon_light/assets/images/media/gradient1.jpg) no-repeat fixed;
			background-size: 100%;
		}
	</style>  
</main>