<title>Vrast Code | HATA</title>
<main>
  <div class="container">
    <div class="alert alert-danger mt-3">
      <p class="h3">Hata Kodu: {{statuscode}}</p>
      <p>{{message}}</p>
    </div>
  <button class="btn btn-outline-warning nav-link text-uppercase" onclick="goBack()">Geri Dön</button> 
  </div>
    <title>Background-</title>


	<style>
		body {
			background: url(https://media.moddb.com/images/downloads/1/196/195451/MOSHED-2020-2-20-22-48-16.gif) no-repeat fixed;
			background-size: 100%;
		}
	</style>
  
  <style>
.index-buttonnitro {
  background-color: #a700ff; /* Green             */
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}    
    
    
    </style>
</main>