<iframe src="https://canlitv.center/canlitv" frameborder="0" width="100%" height="500" allowfullscreen></iframe>
<title> Vrast | Canlı TV</title>
<font>Vrast Canlı TV</font>
<pi> İyi Seyirler Dileriz...</pi>
<li>www.vrast.tk</li>
<title>Background-</title>
    <style>
        body {
            background: url(https://im0-tub-tr.yandex.net/i?id=44a27c73d0719522bb9f7e92952fc4ff&n=13) no-repeat fixed;
            background-size: 100%;
        }
    </style>